$font-family-titles: 'Merriweather', serif;
$font-family-paragraph: 'Lato', sans-serif;
$azul-verdoso: #84DCCF;
$azul: #A6D9F7;
$color-background: #BCCCE0;
$moradito: #BF98A0;
$color-letter: #312F2F;
